<html>
<head>
	<script type="text/javascript"
		src="http://traceall.funshion.com/static/10019/bootstrap/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#js-verificationcode-refresh').click(function () {
				$.get('{% url verificationcode-new-key %}', function(data) {
					var image_url = '{% url verificationcode-image 0 %}';
					image_url = image_url.replace('/0', '/' + data);
					$('.verificationcode').attr('src', image_url);
				});
			});
		});

	</script>
</head>
<body>
	<form action="." method="post">
		{% csrf_token %} {{form.verificationcode.errors}} {{form.verificationcode}}
		<div class="form-action">
			<input type="submit" class="btn btn-primary" value="submit"/>
		</div>
	</form>
</body>
