<html>
<head>
	<script type="text/javascript"
		src="http://traceall.funshion.com/static/10019/bootstrap/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#js-captcha-refresh').click(function () {
				$.get('{% url "captcha-new-key" %}', function(data) {
					var image_url = '{% url "captcha-image"  0 %}';
					image_url = image_url.replace('/0', '/' + data);
					$('.captcha').attr('src', image_url);
				});
			});
		});

	</script>
</head>
<body>


	<form action="." method="post">
		{% csrf_token %} {{form.captcha.errors}} {{form.captcha}}
		<input type="button" id="js-captcha-refresh" value="change" />
		<input type="submit" value="Submit" />
	</form>
</body>
